.site-section-journey main {
	display: flex;
	padding: 0;
	.journey-nav {
		flex: 0 0 200px;
		border-right: 1px solid darkgrey;
		display: flex;
		flex-direction: column;
		a {
			padding: 1rem;
		}
	}
	.journey-content {
		flex: 1 0 200px;
		padding: 1rem;
	}
}
