.default-header {
	text-align: center;
	border-bottom: 1px solid #ddd;
	.main-nav {
		display: flex;
		justify-content: center;
		a {
			padding: 1rem;
		}
	}
}
main {
	min-height: 60vh;
	max-width: 1000px;
	margin: 0 auto;
	background: white;
	p {
		padding: 0 0 1rem 0;
		margin: 0;
	}
}
.default-footer {
	text-align: center;
	padding: 1rem;
	border-top: 1px solid #ddd;
	a {
		padding: 1rem;
	}
}
